* {
    margin: 0;
    padding: 0;
}
  h1 {
    color: tomato;
    font-size: 15px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: wheat;
}

.list {
    display: flex;
   justify-content: space-between;
   list-style: none;
}
.list li a:hover {
    color: red;
}
.list li a {
    transition: all 0.3s ease 0;
}

li, a, button {
    display: inline-block;      
    text-decoration: none;
    color: tomato;
    font-size: 14px;
    justify-content: space-between;    
}
button {
    background-color: turquoise;
    padding: 9px 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: aqua;
}

.content {
display: flex;
padding-top: 10px;
padding-bottom: 20px;
justify-content: space-between;
  margin-top: 10px;
    font-style: oblique;
    color: turquoise;
    font-size: 15px;
          
}
.sols {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: tomato;
    font-style: oblique;
    font-size: 15px;
}
.products, h2 {
    color: turquoise;
    padding-top: 10px;
padding-bottom: 20px;
}

.products {
    font-size: 10px;

}
h2 {
    font-size: 12px;
}
.review {
    font-size: 10px;
    color: seagreen;
}
footer {
    height: 15b;
    bottom: 0;
    color: red;
    background-color: wheat;
    position: absolute;
    width: 100%;
    bottom: 0;
}



